{
  "app": {
    "name": "svc-transaction",
    "host": "0.0.0.0",
    "port": 4001
  },
  "db": {
    "postgres": {
      "connection_string": "postgresql://postgres:changeme@postgres:5432/temporal_flow_demo_db",
      "pool": {
        "max_conns": 10,
        "min_conns": 1
      }
    }
  },
  "temporal": {
    "host_port": "temporal-server:7233",
    "namespace": "default",
    "task_queue": "transaction-task-queue"
  }
}
